body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    /* border: solid lightcoral 10px; */
}

.bg-page {
    /* margin: auto; */
    display: flex;
    background-color: whitesmoke;
    height: 80vh;
    padding: 10px;
    text-align: center;
    align-items: center;
}
main {
    color: black;
}
h3 {
    margin-bottom: 20px;
    border-bottom: solid darkslategray 2px;
}
input {
    text-align: center;
}
button {
    width: 100px;
    height: fit-content;
    border-radius: 10px;
    margin: auto;
    box-shadow: 2px 1px 10px ;
    border: transparent;
    font-weight: bolder;
    padding: 5px;
    flex-direction: column; /* Ensure columnar layout */
    align-items: center;
    justify-content: center;
}
button.submit {
    margin-top: 20px;
}
input#box-title {
    width: 300px;
}
/* button:hover {
    cursor: pointer;
    background-color: black;
    color: whitesmoke;
} */

#back-bttn {
    background-color: lightskyblue;
    margin-bottom: 10px;
    visibility:hidden;
}

.form-class {
    border: solid black 2px;
    height: 100px;
    margin: auto;
}
h2 {
    color: black;
    margin: 10px;
}
#boxCreationPage {
    display: none;
    flex-direction: column; /* Ensure columnar layout */
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: auto;
}

#uploadImgPage {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: auto; /* Centers the uploadImgPage in the parent container */
}

.upload-file-sections {
    display: flex; /* Ensuring choose-file is also a flex container */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}
.makeBox {
    display: flex; /* Ensuring choose-file is also a flex container */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}
#img-upload {
    width: 200px;
    margin-bottom: 10px; /* Adds space below the upload button */
}

.submit {
    width: auto;
    padding: 5px 15px; /* Adjust padding as needed */
}
